<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Override system environment variables to use .env file values
    SetEnv DB_USERNAME begin
    SetEnv DB_PASSWORD "123@Marketing@321"
    SetEnv DB_DATABASE cmis-test
    SetEnv DB_HOST 127.0.0.1
    SetEnv DB_PORT 5432
    SetEnv DB_CONNECTION pgsql
    SetEnv CACHE_STORE file
    SetEnv SESSION_DRIVER file
    SetEnv QUEUE_CONNECTION sync

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
